Configuration(
    color_scheme: Dark,
    wallpaper: "/home/eduardo/Pictures/Screenshot_20230511_171747.png",
    active_service: Git,
    service_config: Services(
        git: GitConfig(
            url: "https://github.com/edfloreshz/dot",
            username: "",
            enabled: true,
        ),
        crdt: CrdtConfig(
            enabled: false,
        ),
    ),
)